<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>D:\Documentos\Programacion\Java\ito\Ingenieria_Software\AcademicPlus\store\AcademicPlus.jar</jar>
  <outfile>D:\Documentos\Programacion\Java\ito\Ingenieria_Software\AcademicPlus\instalador\AcademicPlus.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>D:\Documentos\Programacion\Java\ito\Ingenieria_Software\AcademicPlus\instalador\logo.ico</icon>
  <jre>
    <path>C:\Program Files\Java\jdk-21</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>